In [1]:
import pandas as pd

In [2]:
cd D:\PROJECTS\ML_Codechef\MiniTask1\Mini-Tasks-20\Shruti_Shreya

SyntaxError: invalid syntax (<ipython-input-2-9f71488b5ff3>, line 1)

In [3]:
pwd

'C:\\Users\\shrut'

In [4]:
cd D:\PROJECTS\ML_Codechef\MiniTask1\Mini-Tasks-20\Shruti_Shreya

D:\PROJECTS\ML_Codechef\MiniTask1\Mini-Tasks-20\Shruti_Shreya

In [5]:
ls

 Volume in drive D is DATA
 Volume Serial Number is CA5F-0287

 Directory of D:\PROJECTS\ML_Codechef\MiniTask1\Mini-Tasks-20\Shruti_Shreya

11-04-2020  21:20    <DIR>          .
11-04-2020  21:20    <DIR>          ..
07-02-2020  21:53             3,258 gender_submission.csv
11-04-2020  21:13                77 README.md
07-02-2020  21:53            28,629 test.csv
07-02-2020  21:53            61,194 train.csv
               4 File(s)         93,158 bytes
               2 Dir(s)  933,964,943,360 bytes free

In [6]:
test_file=pd.read_csv("test.csv")

In [7]:
train_file=pd.read_csv("train.csv")

In [8]:
test_file.info

<bound method DataFrame.info of      PassengerId  Pclass                                               Name  \
0            892       3                                   Kelly, Mr. James
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
2            894       2                          Myles, Mr. Thomas Francis
3            895       3                                   Wirz, Mr. Albert
4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897       3                         Svensson, Mr. Johan Cervin
6            898       3                               Connolly, Miss. Kate
7            899       2                       Caldwell, Mr. Albert Francis
8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901       3                            Davies, Mr. John Samuel
10           902       3                                   Ilieff, Mr. Ylio
11           903       1                         Jones, Mr. Charles Cresson
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13           905       2                               Howard, Mr. Benjamin
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16           908       2                                  Keane, Mr. Daniel
17           909       3                                  Assaf, Mr. Gerios
18           910       3                       Ilmakangas, Miss. Ida Livija
19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
20           912       1                             Rothschild, Mr. Martin
21           913       3                          Olsen, Master. Artur Karl
22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
23           915       1                    Williams, Mr. Richard Norris II
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25           917       3                            Robins, Mr. Alexander A
26           918       1                       Ostby, Miss. Helene Ragnhild
27           919       3                                  Daher, Mr. Shedid
28           920       1                            Brady, Mr. John Bertram
29           921       3                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388         1280       3                               Canavan, Mr. Patrick
389         1281       3                        Palsson, Master. Paul Folke
390         1282       1                         Payne, Mr. Vivian Ponsonby
391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392         1284       3                      Abbott, Master. Eugene Joseph
393         1285       2                               Gilbert, Mr. William
394         1286       3                           Kink-Heilmann, Mr. Anton
395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396         1288       3                               Colbert, Mr. Patrick
397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398         1290       3                     Larsson-Rondberg, Mr. Edvard A
399         1291       3                           Conlon, Mr. Thomas Henry
400         1292       1                            Bonnell, Miss. Caroline
401         1293       2                                    Gale, Mr. Harry
402         1294       1                     Gibson, Miss. Dorothy Winifred
403         1295       1                             Carrau, Mr. Jose Pedro
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298       2                          Ware, Mr. William Jeffery
407         1299       1                         Widener, Mr. George Dunton
408         1300       3                    Riordan, Miss. Johanna Hannah""
409         1301       3                          Peacock, Miss. Treasteall
410         1302       3                             Naughton, Miss. Hannah
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304       3                     Henriksson, Miss. Jenny Lovisa
413         1305       3                                 Spector, Mr. Woolf
414         1306       1                       Oliva y Ocana, Dona. Fermina
415         1307       3                       Saether, Mr. Simon Sivertsen
416         1308       3                                Ware, Mr. Frederick
417         1309       3                           Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare  \
0      male  34.5      0      0              330911    7.8292
1    female  47.0      1      0              363272    7.0000
2      male  62.0      0      0              240276    9.6875
3      male  27.0      0      0              315154    8.6625
4    female  22.0      1      1             3101298   12.2875
5      male  14.0      0      0                7538    9.2250
6    female  30.0      0      0              330972    7.6292
7      male  26.0      1      1              248738   29.0000
8    female  18.0      0      0                2657    7.2292
9      male  21.0      2      0           A/4 48871   24.1500
10     male   NaN      0      0              349220    7.8958
11     male  46.0      0      0                 694   26.0000
12   female  23.0      1      0               21228   82.2667
13     male  63.0      1      0               24065   26.0000
14   female  47.0      1      0         W.E.P. 5734   61.1750
15   female  24.0      1      0       SC/PARIS 2167   27.7208
16     male  35.0      0      0              233734   12.3500
17     male  21.0      0      0                2692    7.2250
18   female  27.0      1      0    STON/O2. 3101270    7.9250
19   female  45.0      0      0                2696    7.2250
20     male  55.0      1      0            PC 17603   59.4000
21     male   9.0      0      1             C 17368    3.1708
22   female   NaN      0      0            PC 17598   31.6833
23     male  21.0      0      1            PC 17597   61.3792
24   female  48.0      1      3            PC 17608  262.3750
25     male  50.0      1      0           A/5. 3337   14.5000
26   female  22.0      0      1              113509   61.9792
27     male  22.5      0      0                2698    7.2250
28     male  41.0      0      0              113054   30.5000
29     male   NaN      2      0                2662   21.6792
..      ...   ...    ...    ...                 ...       ...
388    male  21.0      0      0              364858    7.7500
389    male   6.0      3      1              349909   21.0750
390    male  23.0      0      0               12749   93.5000
391  female  51.0      0      1            PC 17592   39.4000
392    male  13.0      0      2           C.A. 2673   20.2500
393    male  47.0      0      0          C.A. 30769   10.5000
394    male  29.0      3      1              315153   22.0250
395  female  18.0      1      0               13695   60.0000
396    male  24.0      0      0              371109    7.2500
397  female  48.0      1      1               13567   79.2000
398    male  22.0      0      0              347065    7.7750
399    male  31.0      0      0               21332    7.7333
400  female  30.0      0      0               36928  164.8667
401    male  38.0      1      0               28664   21.0000
402  female  22.0      0      1              112378   59.4000
403    male  17.0      0      0              113059   47.1000
404    male  43.0      1      0               17765   27.7208
405    male  20.0      0      0       SC/PARIS 2166   13.8625
406    male  23.0      1      0               28666   10.5000
407    male  50.0      1      1              113503  211.5000
408  female   NaN      0      0              334915    7.7208
409  female   3.0      1      1  SOTON/O.Q. 3101315   13.7750
410  female   NaN      0      0              365237    7.7500
411  female  37.0      1      0               19928   90.0000
412  female  28.0      0      0              347086    7.7750
413    male   NaN      0      0           A.5. 3236    8.0500
414  female  39.0      0      0            PC 17758  108.9000
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500
416    male   NaN      0      0              359309    8.0500
417    male   NaN      1      1                2668   22.3583

               Cabin Embarked
0                NaN        Q
1                NaN        S
2                NaN        Q
3                NaN        S
4                NaN        S
5                NaN        S
6                NaN        Q
7                NaN        S
8                NaN        C
9                NaN        S
10               NaN        S
11               NaN        S
12               B45        S
13               NaN        S
14               E31        S
15               NaN        C
16               NaN        Q
17               NaN        C
18               NaN        S
19               NaN        C
20               NaN        C
21               NaN        S
22               NaN        S
23               NaN        C
24   B57 B59 B63 B66        C
25               NaN        S
26               B36        C
27               NaN        C
28               A21        S
29               NaN        C
..               ...      ...
388              NaN        Q
389              NaN        S
390              B24        S
391              D28        S
392              NaN        S
393              NaN        S
394              NaN        S
395              C31        S
396              NaN        Q
397              B41        C
398              NaN        S
399              NaN        Q
400               C7        S
401              NaN        S
402              NaN        C
403              NaN        S
404              D40        C
405              D38        C
406              NaN        S
407              C80        C
408              NaN        Q
409              NaN        S
410              NaN        Q
411              C78        Q
412              NaN        S
413              NaN        S
414             C105        C
415              NaN        S
416              NaN        S
417              NaN        C

[418 rows x 11 columns]>

In [9]:
test_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [10]:
test_file

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [11]:
test_file=test_file.drop(['Name','Ticket','Cabin'],axis=1)

In [12]:
test_file

     PassengerId  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0            892       3    male  34.5      0      0    7.8292        Q
1            893       3  female  47.0      1      0    7.0000        S
2            894       2    male  62.0      0      0    9.6875        Q
3            895       3    male  27.0      0      0    8.6625        S
4            896       3  female  22.0      1      1   12.2875        S
5            897       3    male  14.0      0      0    9.2250        S
6            898       3  female  30.0      0      0    7.6292        Q
7            899       2    male  26.0      1      1   29.0000        S
8            900       3  female  18.0      0      0    7.2292        C
9            901       3    male  21.0      2      0   24.1500        S
10           902       3    male   NaN      0      0    7.8958        S
11           903       1    male  46.0      0      0   26.0000        S
12           904       1  female  23.0      1      0   82.2667        S
13           905       2    male  63.0      1      0   26.0000        S
14           906       1  female  47.0      1      0   61.1750        S
15           907       2  female  24.0      1      0   27.7208        C
16           908       2    male  35.0      0      0   12.3500        Q
17           909       3    male  21.0      0      0    7.2250        C
18           910       3  female  27.0      1      0    7.9250        S
19           911       3  female  45.0      0      0    7.2250        C
20           912       1    male  55.0      1      0   59.4000        C
21           913       3    male   9.0      0      1    3.1708        S
22           914       1  female   NaN      0      0   31.6833        S
23           915       1    male  21.0      0      1   61.3792        C
24           916       1  female  48.0      1      3  262.3750        C
25           917       3    male  50.0      1      0   14.5000        S
26           918       1  female  22.0      0      1   61.9792        C
27           919       3    male  22.5      0      0    7.2250        C
28           920       1    male  41.0      0      0   30.5000        S
29           921       3    male   NaN      2      0   21.6792        C
..           ...     ...     ...   ...    ...    ...       ...      ...
388         1280       3    male  21.0      0      0    7.7500        Q
389         1281       3    male   6.0      3      1   21.0750        S
390         1282       1    male  23.0      0      0   93.5000        S
391         1283       1  female  51.0      0      1   39.4000        S
392         1284       3    male  13.0      0      2   20.2500        S
393         1285       2    male  47.0      0      0   10.5000        S
394         1286       3    male  29.0      3      1   22.0250        S
395         1287       1  female  18.0      1      0   60.0000        S
396         1288       3    male  24.0      0      0    7.2500        Q
397         1289       1  female  48.0      1      1   79.2000        C
398         1290       3    male  22.0      0      0    7.7750        S
399         1291       3    male  31.0      0      0    7.7333        Q
400         1292       1  female  30.0      0      0  164.8667        S
401         1293       2    male  38.0      1      0   21.0000        S
402         1294       1  female  22.0      0      1   59.4000        C
403         1295       1    male  17.0      0      0   47.1000        S
404         1296       1    male  43.0      1      0   27.7208        C
405         1297       2    male  20.0      0      0   13.8625        C
406         1298       2    male  23.0      1      0   10.5000        S
407         1299       1    male  50.0      1      1  211.5000        C
408         1300       3  female   NaN      0      0    7.7208        Q
409         1301       3  female   3.0      1      1   13.7750        S
410         1302       3  female   NaN      0      0    7.7500        Q
411         1303       1  female  37.0      1      0   90.0000        Q
412         1304       3  female  28.0      0      0    7.7750        S
413         1305       3    male   NaN      0      0    8.0500        S
414         1306       1  female  39.0      0      0  108.9000        C
415         1307       3    male  38.5      0      0    7.2500        S
416         1308       3    male   NaN      0      0    8.0500        S
417         1309       3    male   NaN      1      1   22.3583        C

[418 rows x 8 columns]

In [13]:
test_file=test_file.dropna(axis=0)

In [14]:
test_file

     PassengerId  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0            892       3    male  34.5      0      0    7.8292        Q
1            893       3  female  47.0      1      0    7.0000        S
2            894       2    male  62.0      0      0    9.6875        Q
3            895       3    male  27.0      0      0    8.6625        S
4            896       3  female  22.0      1      1   12.2875        S
5            897       3    male  14.0      0      0    9.2250        S
6            898       3  female  30.0      0      0    7.6292        Q
7            899       2    male  26.0      1      1   29.0000        S
8            900       3  female  18.0      0      0    7.2292        C
9            901       3    male  21.0      2      0   24.1500        S
11           903       1    male  46.0      0      0   26.0000        S
12           904       1  female  23.0      1      0   82.2667        S
13           905       2    male  63.0      1      0   26.0000        S
14           906       1  female  47.0      1      0   61.1750        S
15           907       2  female  24.0      1      0   27.7208        C
16           908       2    male  35.0      0      0   12.3500        Q
17           909       3    male  21.0      0      0    7.2250        C
18           910       3  female  27.0      1      0    7.9250        S
19           911       3  female  45.0      0      0    7.2250        C
20           912       1    male  55.0      1      0   59.4000        C
21           913       3    male   9.0      0      1    3.1708        S
23           915       1    male  21.0      0      1   61.3792        C
24           916       1  female  48.0      1      3  262.3750        C
25           917       3    male  50.0      1      0   14.5000        S
26           918       1  female  22.0      0      1   61.9792        C
27           919       3    male  22.5      0      0    7.2250        C
28           920       1    male  41.0      0      0   30.5000        S
30           922       2    male  50.0      1      0   26.0000        S
31           923       2    male  24.0      2      0   31.5000        S
32           924       3  female  33.0      1      2   20.5750        S
..           ...     ...     ...   ...    ...    ...       ...      ...
381         1273       3    male  26.0      0      0    7.8792        Q
383         1275       3  female  19.0      1      0   16.1000        S
385         1277       2  female  24.0      1      2   65.0000        S
386         1278       3    male  24.0      0      0    7.7750        S
387         1279       2    male  57.0      0      0   13.0000        S
388         1280       3    male  21.0      0      0    7.7500        Q
389         1281       3    male   6.0      3      1   21.0750        S
390         1282       1    male  23.0      0      0   93.5000        S
391         1283       1  female  51.0      0      1   39.4000        S
392         1284       3    male  13.0      0      2   20.2500        S
393         1285       2    male  47.0      0      0   10.5000        S
394         1286       3    male  29.0      3      1   22.0250        S
395         1287       1  female  18.0      1      0   60.0000        S
396         1288       3    male  24.0      0      0    7.2500        Q
397         1289       1  female  48.0      1      1   79.2000        C
398         1290       3    male  22.0      0      0    7.7750        S
399         1291       3    male  31.0      0      0    7.7333        Q
400         1292       1  female  30.0      0      0  164.8667        S
401         1293       2    male  38.0      1      0   21.0000        S
402         1294       1  female  22.0      0      1   59.4000        C
403         1295       1    male  17.0      0      0   47.1000        S
404         1296       1    male  43.0      1      0   27.7208        C
405         1297       2    male  20.0      0      0   13.8625        C
406         1298       2    male  23.0      1      0   10.5000        S
407         1299       1    male  50.0      1      1  211.5000        C
409         1301       3  female   3.0      1      1   13.7750        S
411         1303       1  female  37.0      1      0   90.0000        Q
412         1304       3  female  28.0      0      0    7.7750        S
414         1306       1  female  39.0      0      0  108.9000        C
415         1307       3    male  38.5      0      0    7.2500        S

[331 rows x 8 columns]

In [15]:
test_file.Sex

0        male
1      female
2        male
3        male
4      female
5        male
6      female
7        male
8      female
9        male
11       male
12     female
13       male
14     female
15     female
16       male
17       male
18     female
19     female
20       male
21       male
23       male
24     female
25       male
26     female
27       male
28       male
30       male
31       male
32     female
        ...
381      male
383    female
385    female
386      male
387      male
388      male
389      male
390      male
391    female
392      male
393      male
394      male
395    female
396      male
397    female
398      male
399      male
400    female
401      male
402    female
403      male
404      male
405      male
406      male
407      male
409    female
411    female
412    female
414    female
415      male
Name: Sex, Length: 331, dtype: object

In [16]:
test_file.Sex=test_file.Sex.astype("category")

D:\Anaconda_\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [18]:
test_file.Sex=test_file.Sex.cat.codes

D:\Anaconda_\lib\site-packages\pandas\core\generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [19]:
test_file

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare Embarked
0            892       3    1  34.5      0      0    7.8292        Q
1            893       3    0  47.0      1      0    7.0000        S
2            894       2    1  62.0      0      0    9.6875        Q
3            895       3    1  27.0      0      0    8.6625        S
4            896       3    0  22.0      1      1   12.2875        S
5            897       3    1  14.0      0      0    9.2250        S
6            898       3    0  30.0      0      0    7.6292        Q
7            899       2    1  26.0      1      1   29.0000        S
8            900       3    0  18.0      0      0    7.2292        C
9            901       3    1  21.0      2      0   24.1500        S
11           903       1    1  46.0      0      0   26.0000        S
12           904       1    0  23.0      1      0   82.2667        S
13           905       2    1  63.0      1      0   26.0000        S
14           906       1    0  47.0      1      0   61.1750        S
15           907       2    0  24.0      1      0   27.7208        C
16           908       2    1  35.0      0      0   12.3500        Q
17           909       3    1  21.0      0      0    7.2250        C
18           910       3    0  27.0      1      0    7.9250        S
19           911       3    0  45.0      0      0    7.2250        C
20           912       1    1  55.0      1      0   59.4000        C
21           913       3    1   9.0      0      1    3.1708        S
23           915       1    1  21.0      0      1   61.3792        C
24           916       1    0  48.0      1      3  262.3750        C
25           917       3    1  50.0      1      0   14.5000        S
26           918       1    0  22.0      0      1   61.9792        C
27           919       3    1  22.5      0      0    7.2250        C
28           920       1    1  41.0      0      0   30.5000        S
30           922       2    1  50.0      1      0   26.0000        S
31           923       2    1  24.0      2      0   31.5000        S
32           924       3    0  33.0      1      2   20.5750        S
..           ...     ...  ...   ...    ...    ...       ...      ...
381         1273       3    1  26.0      0      0    7.8792        Q
383         1275       3    0  19.0      1      0   16.1000        S
385         1277       2    0  24.0      1      2   65.0000        S
386         1278       3    1  24.0      0      0    7.7750        S
387         1279       2    1  57.0      0      0   13.0000        S
388         1280       3    1  21.0      0      0    7.7500        Q
389         1281       3    1   6.0      3      1   21.0750        S
390         1282       1    1  23.0      0      0   93.5000        S
391         1283       1    0  51.0      0      1   39.4000        S
392         1284       3    1  13.0      0      2   20.2500        S
393         1285       2    1  47.0      0      0   10.5000        S
394         1286       3    1  29.0      3      1   22.0250        S
395         1287       1    0  18.0      1      0   60.0000        S
396         1288       3    1  24.0      0      0    7.2500        Q
397         1289       1    0  48.0      1      1   79.2000        C
398         1290       3    1  22.0      0      0    7.7750        S
399         1291       3    1  31.0      0      0    7.7333        Q
400         1292       1    0  30.0      0      0  164.8667        S
401         1293       2    1  38.0      1      0   21.0000        S
402         1294       1    0  22.0      0      1   59.4000        C
403         1295       1    1  17.0      0      0   47.1000        S
404         1296       1    1  43.0      1      0   27.7208        C
405         1297       2    1  20.0      0      0   13.8625        C
406         1298       2    1  23.0      1      0   10.5000        S
407         1299       1    1  50.0      1      1  211.5000        C
409         1301       3    0   3.0      1      1   13.7750        S
411         1303       1    0  37.0      1      0   90.0000        Q
412         1304       3    0  28.0      0      0    7.7750        S
414         1306       1    0  39.0      0      0  108.9000        C
415         1307       3    1  38.5      0      0    7.2500        S

[331 rows x 8 columns]

In [20]:
test_file['Embarked']=test_file['Embarked'].astype('category')

D:\Anaconda_\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
test_file['Embarked']=test_file['Embarked'].cat.codes

D:\Anaconda_\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
test_file

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0            892       3    1  34.5      0      0    7.8292         1
1            893       3    0  47.0      1      0    7.0000         2
2            894       2    1  62.0      0      0    9.6875         1
3            895       3    1  27.0      0      0    8.6625         2
4            896       3    0  22.0      1      1   12.2875         2
5            897       3    1  14.0      0      0    9.2250         2
6            898       3    0  30.0      0      0    7.6292         1
7            899       2    1  26.0      1      1   29.0000         2
8            900       3    0  18.0      0      0    7.2292         0
9            901       3    1  21.0      2      0   24.1500         2
11           903       1    1  46.0      0      0   26.0000         2
12           904       1    0  23.0      1      0   82.2667         2
13           905       2    1  63.0      1      0   26.0000         2
14           906       1    0  47.0      1      0   61.1750         2
15           907       2    0  24.0      1      0   27.7208         0
16           908       2    1  35.0      0      0   12.3500         1
17           909       3    1  21.0      0      0    7.2250         0
18           910       3    0  27.0      1      0    7.9250         2
19           911       3    0  45.0      0      0    7.2250         0
20           912       1    1  55.0      1      0   59.4000         0
21           913       3    1   9.0      0      1    3.1708         2
23           915       1    1  21.0      0      1   61.3792         0
24           916       1    0  48.0      1      3  262.3750         0
25           917       3    1  50.0      1      0   14.5000         2
26           918       1    0  22.0      0      1   61.9792         0
27           919       3    1  22.5      0      0    7.2250         0
28           920       1    1  41.0      0      0   30.5000         2
30           922       2    1  50.0      1      0   26.0000         2
31           923       2    1  24.0      2      0   31.5000         2
32           924       3    0  33.0      1      2   20.5750         2
..           ...     ...  ...   ...    ...    ...       ...       ...
381         1273       3    1  26.0      0      0    7.8792         1
383         1275       3    0  19.0      1      0   16.1000         2
385         1277       2    0  24.0      1      2   65.0000         2
386         1278       3    1  24.0      0      0    7.7750         2
387         1279       2    1  57.0      0      0   13.0000         2
388         1280       3    1  21.0      0      0    7.7500         1
389         1281       3    1   6.0      3      1   21.0750         2
390         1282       1    1  23.0      0      0   93.5000         2
391         1283       1    0  51.0      0      1   39.4000         2
392         1284       3    1  13.0      0      2   20.2500         2
393         1285       2    1  47.0      0      0   10.5000         2
394         1286       3    1  29.0      3      1   22.0250         2
395         1287       1    0  18.0      1      0   60.0000         2
396         1288       3    1  24.0      0      0    7.2500         1
397         1289       1    0  48.0      1      1   79.2000         0
398         1290       3    1  22.0      0      0    7.7750         2
399         1291       3    1  31.0      0      0    7.7333         1
400         1292       1    0  30.0      0      0  164.8667         2
401         1293       2    1  38.0      1      0   21.0000         2
402         1294       1    0  22.0      0      1   59.4000         0
403         1295       1    1  17.0      0      0   47.1000         2
404         1296       1    1  43.0      1      0   27.7208         0
405         1297       2    1  20.0      0      0   13.8625         0
406         1298       2    1  23.0      1      0   10.5000         2
407         1299       1    1  50.0      1      1  211.5000         0
409         1301       3    0   3.0      1      1   13.7750         2
411         1303       1    0  37.0      1      0   90.0000         1
412         1304       3    0  28.0      0      0    7.7750         2
414         1306       1    0  39.0      0      0  108.9000         0
415         1307       3    1  38.5      0      0    7.2500         2

[331 rows x 8 columns]